:root {
    --primary-color: #7E00FD;
}

html {font-size: 62.5%;}

p, a {font-size: 1.8rem;}
a {text-decoration: none;}
ul {list-style-type:none;margin:0;padding:0;}
.header-cta, .arrow {display: none;}
.wrapper { margin: 2.6em; }

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a.logo {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 2.8rem;
}

header ul {
    display: flex;
    gap: 2.2em;
}

header ul li a {
    color: black;
}

a.active {
    text-decoration: underline;
}

/* Hero Section */

section.hero {
    text-align: center;
}

h1 {
    font-size: 3.2rem;
    margin-top: 2em;
    margin-bottom: .5em;
}

p.subhead {
    font-size: 2rem;
}

.cta-btns {
    display: flex;
    gap: 1em;
    justify-content: center;
    margin-top: 3em;
}

.phone {
    width: 90%;
    margin-top: 5em;
    position: relative;
    z-index: 2;
}

/* Features Section */

section.features {
    background: var(--primary-color);
    color: white;
    transform: skewY(12deg) translateY(-8em);
}

section.features .wrapper {
    transform: skewY(-12deg);
}

section.features .wrapper ul {
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 5em 0 10em;
}

section.features svg {
    width: 3.5rem;
    margin: -.15em;
}

section.features strong {
    display: flex;
    flex-direction: column;
    font-size: 2.6rem;
    gap: .2em;
}

/* Testimonials section */

h2 {
    font-size: 2.8rem;
    font-family: 'playfair Display', serif;
    font-weight: 300;
}

.testimonials-quote p {
    margin-bottom: 2em;
}


.author-pic {
    width: 100%;
    border-radius: 1.2em;
    height: 17.7em;
    object-fit: cover;
    margin-bottom: 2em;
}

